/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Quicksand', sans-serif;
    /* COLORS */
    /*--container: rgb(133, 71, 184);
    --item: orange;*/
    --container: rgb(0, 129, 201);
    --item: rgb(255, 177, 0);
    --property: rgb(194, 82, 223);
    --value: yellow;
    --comment: gray;
    --alice-blue: aliceblue;
    --dark-blue: rgb(29, 29, 37);
    --grayish-blue: rgb(40, 40, 49);
    /* SIZES */
    --section-width: 480px;
    --margin: 1rem;
    --border: 2px;
    --item-width: calc((var(--section-width) - (var(--margin) * 2 + var(--border) * 2)) / 4);
    --body-padding: 20px;
}

html {
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grayish-blue);
    padding: 0 20px;
}

section {
    margin-bottom: 2.5rem;
    width: min(var(--section-width), calc(100vw - var(--body-padding) * 2));
}

h1 {
    color: var(--alice-blue);
    margin-top: 4rem;
    margin-bottom: var(--margin);
}

.container, .code-div {
    border-radius: 10px;
    margin: var(--margin) 0;
}

.container, .item {
    border: var(--border) solid var(--dark-blue);
}

.container {
    display: flex;
    background-color: var(--container);
    color: var(--dark-blue);
    padding: var(--margin);
    justify-content: center;
    font-weight: 700;
}

.item {
    background-color: var(--item);
    color: var(--dark-blue);
    padding: var(--margin) 0;
    text-align: center;
    border-radius: 7px;
}

.code-div {
    color: var(--alice-blue);
    padding: var(--margin);
    background-color: var(--dark-blue);
}

.container-color {
    color: var(--container);
}

.item-color {
    color: var(--item);
}

.property-color {
    color: var(--property);
}

.value-color {
    color: var(--value);
}

.comment-color {
    color: var(--comment);
}

select, input {
    background-color: var(--dark-blue);
    font-family: inherit;
    color: inherit;
    border: 1px solid gray;
    font-size: inherit;
}

input {
    width: 6ch;
    padding-left: 0.5ch;
}

.margin-left {
    margin-left: var(--margin);
}

/* NAV BAR */

.nav-bar {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--dark-blue);
    width: 100%;
    height: 3rem;
    z-index: 10;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-bar a {
    color: var(--alice-blue); 
    background-color: inherit;
    height: 100%;
    line-height: 3rem;
    padding: 0 1rem;
    position: relative;
    z-index: 10;
}

a.home {
    padding-left: 2rem;
}

.guides-div {
    display: flex;
    position: absolute;
    transform: translateX(-47%);
    transition: translate 0.4s;
    background-color: var(--grayish-blue);
}

.translate {
    translate: 100%;
}

.sections {
    color: var(--alice-blue);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2rem;
    top: 4rem;
    background-color: var(--grayish-blue);
}

.sections p {
    font-weight: 700;
}

.sections a {
    color: inherit;
    margin: 0.2rem 0;
}

/* SECTION 0 (AND SECTION 9)*/

.container0 {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}

.container p {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}

.container0 .item, .container9 .item {
    width: auto;
}

.container0 .item:nth-of-type(1), .container0 .item:nth-of-type(3), .container9 .item:nth-of-type(1), .container9 .item:nth-of-type(3) {
    flex-grow: 1;
}

.container0 .item:nth-of-type(2), .container9 .item:nth-of-type(2) {
    flex-grow: 2;
}

/* SECTION 1: FLEX-DIRECTION (AND SECTION 2)*/

.container1 {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: fit-content;
}

.container1 .item, .container2 .item {
    width: min(var(--item-width), calc((100vw - var(--body-padding) * 2 - var(--margin) * 2 - var(--border) * 2) / 4));
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column; 
}

.column-reverse {
    flex-direction: column-reverse;
}

/* SECTION 2: FLEX-WRAP */

.container2 {
    justify-content: flex-start;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* SECTION 3: JUSTIFY-CONTENT */

.container3 {
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
}

.container3 .item {
    width: min(calc(var(--item-width) / 2), 25%);
    height: calc(var(--item-width) / 2);
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* SECTION 4: ALIGN-ITEMS (AND SECTIONs 5, 9)*/

.container4 {
    padding: 0 var(--margin);
}

.container4, .container5 {
    color: var(--item);
}

.container4, .container9  {
    height: calc(var(--item-width) * 1.5);
    justify-content: center;
}

.container4 .item {
    width: calc(var(--item-width) / 2);
    margin: 0 calc(var(--margin) / 2);
    color: inherit;
    display: flex;
    justify-content: center;
}

.container4 .item:nth-of-type(1), .container4 .item:nth-of-type(4) {
    min-height: calc(var(--item-width) * 0.7);
    align-items: flex-start;
}

.container4 .item:nth-of-type(2) {
    min-height: var(--item-width);
    align-items: flex-end;
}

.container4 .item:nth-of-type(3) {
    min-height: calc(var(--item-width) * 0.5);
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
    color: var(--alice-blue) !important;
}

/* SECTION 5: ALIGN-CONTENT (MORE IN SECTION 4)*/

.container5 {
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: calc(var(--item-width) * 2.5);
    padding: 0;
}

.container5 .item {
    flex-grow: 1;
    color: inherit;
    display: flex;
    justify-content: center;
}

.container5 .item:nth-of-type(1), .container5 .item:nth-of-type(7) {
    width: 45%;
    min-height: calc(var(--item-width) * 0.6);
}

.container5 .item:nth-of-type(2), .container5 .item:nth-of-type(6) {
    width: 55%;
}

.container5 .item:nth-of-type(3), .container5 .item:nth-of-type(4), .container5 .item:nth-of-type(5) {
    width: 33%;
} 

.container5 .item:nth-of-type(4) {
    min-height: calc(var(--item-width) * 0.7);
    align-items: flex-end;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-center {
    align-content: center;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.align-content-stretch {
    align-content: stretch;
}

/* SECTION 6: ORDER */

.container6 {
    justify-content: space-evenly;
    padding-left: calc(var(--margin) / 2);
    padding-right: calc(var(--margin) / 2);
}

.container6 .item {
    margin: 0 calc(var(--margin) / 2);
}

.container6 .item:nth-of-type(1) {
    flex-grow: 1;
}

.container6 .item:nth-of-type(2) {
    flex-grow: 2;
}

.container6 .item:nth-of-type(3) {
    flex-grow: 3;
}

.container6 .item:nth-of-type(4) {
    flex-grow: 4;
}

/* SECTION 7: FLEX-GROW */

.container7 {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
}

.container7 .item {
    flex-basis: 50px;
}

/* SECTION 8: FLEX-SHRINK */

.container8 {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
}

.container8 .item {
    flex-basis: 50%;
}

/* SECTION 9: ALIGN-SELF (MORE IN SECTION 0, 4)*/

.container9 {
    align-items: center;
    color: var(--item);
}

.container9 .item {
    min-height: 60px;
}

.container9 .item:nth-of-type(2) {
    padding: 0;
    color: inherit;
}

.align-self-auto {
    align-self: auto;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
    color: var(--alice-blue) !important;
}

@media (max-width: 800px) {
    .sections {
        position: sticky;
        top: calc(3rem - 1px);
        left: initial;
        height: 7.5rem;
        flex-wrap: wrap;
        width: min(calc(var(--section-width) + var(--body-padding) * 2), 100vw);
        margin-bottom: 2.5rem;
        padding: 1rem var(--body-padding);
    }

    .sections p {
        height: 100%;
    }

    html {
        scroll-padding-top: 10.5rem;
    }
}

@media (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

@media (max-width: 380px) {
    :root {
        font-size: 10px;
    }
}

